.container .content {
    color: #ededed;
    width: calc(50% - 32px);
    height: 360px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly; 
}

.container .content-title-image {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

@media screen and (max-width: 768px) {
    .container .content {
        width: 100%;
    }
}

@media screen and (max-width: 420px) {
    .container .content {
        height: 440px;
    }
}